$webResourceManager.requireResource("ru.andreymarkelov.atlas.plugins.colorfields:color-resources")
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if ($displayParameters.defaultScreen)
    <input name="$customField.id" id="$customField.id" type="text" value="$!value"/>
#else
    <input name="$customField.id" id="$customField.id" type="text" value="$!value"/>
#end
<script type="text/javascript">
    jQuery(document).ready(function() {
        colorpickerfield_init_picker("$customField.id");
        JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function(e, context) {
            colorpickerfield_init_picker("$customField.id");
        });
    });

    function colorpickerfield_init_picker(cfId) {
        if (!jQuery("#" + cfId).parent().find("div.colorPicker-picker").length) {
            jQuery("#" + cfId).colorPicker();
        }
    }
</script>
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)